/.testFolder
# Created by .gitignore support plugin (hsz.mobi)
### Node template
# Logs
logs
*.log

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt


# Dependency directory
/.temp
node_modules

.idea
*.iml

test/**/temp
test/e2e/test*/bower_components
test/e2e/test*/*.js
test/e2e/**/bower.json
