/.testFolder
# Created by .gitignore support plugin (hsz.mobi)
### Node template
# Logs
logs
*.log

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt


# Dependency directory
/.coveralls.yml
node_modules

.idea
*.iml
