# Created by .gitignore support plugin (hsz.mobi)
### Node template
# Logs
logs
*.log

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt


# Dependency directory
node_modules

.idea
*.iml

test/temp
test/test*/bower_components
test/test*/*.js
bower.json
test.js